<!DOCTYPE html>
<html>
  <body>
    <form action="/checkout" method="POST">
      Cart: <input type="text" id="item" name="item">
      <input type="submit" id="submit" value="Submit">
     </form>
  </body>
</html>

