<h1>Your Cart, Madam</h1>

<form action="/checkout" method="POST">
  <label for="item">Put a thing in your cart:</label>
  <input type="text" id="item" name="item"/>
  <input type="submit" id="submit"/>
</form>
